.social_connect_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.continue_with_fb_container {
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 3px;
}

.continue_with_fb {
  background-color: #1877f2;
  color: white;
  border: none;
  height: 40px;
  width: 90%;
  border-radius: 4px;
}

.continue_with_fb:hover {
  background-color: #60a2f6;
}

.continue_with_google_container {
  background-color: none;
  border: 1px solid lightgray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 3px;
}

.continue_with_google {
  border: none;
  background: none;
  height: 40px;
  width: 90%;
  border-radius: 4px;
}

.divider {
  text-align: center;
  margin: 10px 0px;
}

.login_signup_button {
  background-color: var(--secondary-color);
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 16px;
}

.login_signup_button:hover {
  background-color: #e9365d;
}
